@import './mixins.scss',
        url('https://fonts.googleapis.com/css?family=Roboto&display=swap'),
        url('https://fonts.googleapis.com/css?family=Orbitron:600&display=swap');

$eventBgColor: rgba(255, 0, 255, .8);
$eventBorderColor: rgba(255, 255, 255, .9);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.root {
  min-height: 100vh;
  min-width: 100vw;
}

// MEDIA QUERIES
@media (min-width: 320px) {
  .root {
    background: url(../assets/background.png) no-repeat;
    background-size: 100% 100%;
  }

  .form-container {
    @include flexElement(column, center, center);
    & .dataInput, .submitInput {
      padding: .5em;
      .error {
        color: #ffff00;
      }
    }
    & input {
      width: 100%;
      border-radius: .5em;
      padding: .3em;
    }
  }

  .events {
    @include flexElement(column, center, initial);
    padding: 20px;
    font-size: .8em;
    color: #f5f5f5;
    & .event {
      background-color: $eventBgColor;
      margin: 1em;
      line-height: 1.6em;
      padding: 1em;
      text-align: center;
      border: 1px solid $eventBorderColor;
      border-radius: .5em;
      word-break: break-word;
    }

    & .timer {
      @include flexElement(row, center, center);
      flex-wrap: wrap;
      & .timer-item {
        @include flexElement(column, center, center);
        width: 20vw;
        height: 20vw;
        border: 2px solid #fff;
        border-radius: 50%;
        margin: .3em;
        font-size: 3vw;
        font-family: 'Orbitron', sans-serif;
        color: black;
        &.pastEvent {
          font-size: 4vw;
          border: none !important;
        }
        span {
          font-family: 'Orbitron', sans-serif;
          
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .events {
    @include flexElement(row, center, initial);
    flex-wrap: wrap;
    font-size: 1em;
    & .event {
      @include flexElement(column, center, center);
      flex: 0 40%;
      & .timer-item {
        width: 9vw;
        height: 9vw;
        font-size: 1.4vw;
        &.pastEvent {
          font-size: 2vw;
        }
      }
    }

  }
}

@media (min-width: 1200px) {
    .form {
      @include flexElement(row, center, center);
      & .submitInput input{
        padding: .5em;
      }
    }

    .events {
      & .event {
        flex: 25%;
        & .timer {
        padding: .8em;
        & .timer-item {
          width: 7vw;
          height: 7vw;
          font-size: 1.2vw;
        }
      } 
    }
  }
}