@mixin flexElement($flexDirection, $justifyContent, $alignItems, $flexBasis) {
    display: flex;
    flex-direction: $flexDirection;
    justify-content: $justifyContent;
    align-items: $alignItems;
    flex-basis: $flexBasis;
}

@mixin responsiveImage($url, $bgRepeat, $position1, $position2, $attachment){
    background: url($url) $bgRepeat $position1 $position2 $attachment;
}